.plenta-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.plenta-box {
    flex: 50%;
}

.plenta-box a {
    text-decoration: underline;
}

.plenta-box a:hover {
    text-decoration: underline;
    color: var(--contao);
}

.plenta-box.last {
    text-align: right;
}

#plentaJobsInfoPanel {
    padding: 15px;
    border-bottom: 1px solid var(--blue);
}

html[data-color-scheme="dark"] {
    .plenta-box,
    .plenta-box a {
        color: #ffffff;
    }

    .plenta-box a:hover {
        color: var(--contao);
    }
}