{% extends '@Contao/frontend_module/_base.html.twig' %}

{% block content %}
    {% dump(_context) %}
    {{ content|raw }}

    {% if back %}
        <!-- indexer::stop -->
        <p class="back"><a href="{{ referer }}" title="{{ back }}">{{ back }}</a></p>
        <!-- indexer::continue -->
    {% endif %}
{% endblock %}
