{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
{{ title }}
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
    {% include('@PlentaContaoJobsBasic/be_plenta_info.html.twig') %}

    <div class="tl_listing_container">
        <table class="tl_listing">
            <tbody>
            {% for key, mod in mods %}
                <tr class="{% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %}">
                    <td class="tl_file_list"><a href="{{ backend_route }}?do={{ key }}">{{ mod.title.0 }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
